.idea/
.DS_Store
.project
*/node-log.log
game-server/logs/*
*.log
!.gitignore
game-server/node_modules/*
web-player-client/node_modules/*
web-broadcaster-client/node_modules/*
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace
